* {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
}

.top-header {
  background-color: white;
  width: 100vw;
  height: 72px;
  padding: 0px, 24px;
  align-items: center;
  display: flex;
}

.stepout-icon {
  margin: 10px 20px 0 0;
}

.search-bar-contents {
  width: 45%;
}

.search-form {
  max-width: none;
}

.input-box {
  flex-direction: row-reverse;
  margin: 10px 0 10px;
  padding: 10px;
  border: 3px solid #4d2a2a;
  border-radius: 30px;
  font-family: "游ゴシック", "YuGothic";
  width: 90%;
  outline: none;
}

.search-icon {
  display:none
}

.log-status {
  width: 40%;
}

.log-lists {
  display: flex;
}

.user-nickname {
  text-decoration: none;
  margin-right: 7vh;
  color: #1c1d1f;
  font-size: 18px;
  white-space: nowrap;
}

.course-up {
  text-decoration: none;
  margin-right: 25vh;
  color: #1c1d1f;
  font-size: 18px;
  white-space: nowrap;
}

.logout {
  text-decoration: none;
  color: #1c1d1f;
  border: 2px solid #1c1d1f;
  padding: 10px;
  font-weight: 600;
  white-space: nowrap;
}