<footer class='fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>お問い合わせ</p>
    <p class='second-fotter-text'>規約</p>
    <p class='second-fotter-text'>ヘルプとサポート</p>
    <p>© stepout</p>
  </div>
</footer>