        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "22116720_s.jpg", class: "course-img" %>
          <div class='course-info'>
            <h3 class='course-title'>
              口座を開設してね！
            </h3>
            <div class='course-price'>
              <span>99999999円<br>(税込み)</span>
            </div>
          </div>
          <% end %>
        </li>