<%= render "shared/header" %>

<ul class="order-users-lists">
  <% @order_users.where.not(id: current_user.id).each do |order_user| %>
    <li class="order-users-list">
      <%= link_to order_user.nickname, "/users/#{order_user.id}", class: :order_user %>
    </li>
  <% end %>
</ul>

<%= render "shared/footer" %>